In [1]:
# Set the Pyspark enviroment variables
import os
os.environ['SPARK_HOME'] = "/Users/patricia/Apps/Spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter' # only if you use jupyter notebook
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'notebook' # only if you use jupyter notebook
os.environ['PYSPARK_PYTHON'] = 'python'

In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("DataFrame-Operations").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/07 11:28:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/07 11:28:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

24/11/07 11:28:24 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
# Load tye synthetic data into a DataFrame
data_file_path = "./data/stocks.txt"
df = spark.read.csv(data_file_path, header=True, inferSchema=True)

In [5]:
# Display schema of DataFrame
df.printSchema()

# Dsplay content of DataFrame
df.show(5)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)

+---+----------+-----------+--------+-------+
| id|      name|   category|quantity|  price|
+---+----------+-----------+--------+-------+
|  1|    iPhone|Electronics|      10| 899.99|
|  2|   Macbook|Electronics|       5|1299.99|
|  3|      iPad|Electronics|      15| 499.99|
|  4|Samsung TV|Electronics|       8| 799.99|
|  5|     LG TV|Electronics|      10| 699.99|
+---+----------+-----------+--------+-------+
only showing top 5 rows

### Select: Choose specific columns.

In [6]:
# Select specific columns
selected_columns = df.select("id","name","price")
selected_columns.show(5)

+---+----------+-------+
| id|      name|  price|
+---+----------+-------+
|  1|    iPhone| 899.99|
|  2|   Macbook|1299.99|
|  3|      iPad| 499.99|
|  4|Samsung TV| 799.99|
|  5|     LG TV| 699.99|
+---+----------+-------+
only showing top 5 rows

### Filter: Apply conditions to filter rows.

In [9]:
# Filter rows based on a condition
filtered_data = df.filter(df.quantity > 20)
print("Filtered data: ", filtered_data.count())
filtered_data.show()

Filtered data:  12
+---+--------------+-----------+--------+-----+
| id|          name|   category|quantity|price|
+---+--------------+-----------+--------+-----+
|  6|    Nike Shoes|   Clothing|      30|99.99|
|  7|  Adidas Shoes|   Clothing|      25|89.99|
| 12|        Apples|       Food|     100|  0.5|
| 13|       Bananas|       Food|     150| 0.25|
| 14|       Oranges|       Food|     120| 0.75|
| 15|Chicken Breast|       Food|      50| 3.99|
| 16| Salmon Fillet|       Food|      30| 5.99|
| 24|    Laptop Bag|Accessories|      25|29.99|
| 25|      Backpack|Accessories|      30|24.99|
| 28|         Jeans|   Clothing|      30|59.99|
| 29|       T-shirt|   Clothing|      50|14.99|
| 30|      Sneakers|   Clothing|      40|79.99|
+---+--------------+-----------+--------+-----+

### GroupBy: Group data based on specific columns

### Aggregations: Perform functions like sum, average, etc, on grouped data.

In [11]:
# GroupBy and Aggregations
grouped_data = df.groupBy("category").agg({"quantity":"sum", "price":"avg"})
grouped_data.show()

+-----------+-------------+------------------+
|   category|sum(quantity)|        avg(price)|
+-----------+-------------+------------------+
|       Food|          450|2.2960000000000003|
|     Sports|           35|             34.99|
|Electronics|           98| 586.6566666666665|
|   Clothing|          200|  99.2757142857143|
|  Furniture|           41|            141.99|
|Accessories|           55|             27.49|
+-----------+-------------+------------------+

### Join: Combine multiple DataFrames based on specified columns.

In [12]:
# Join with another DataFrame
df2 = df.select("id","category").limit(10)
joined_data = df.join(df2, "id","inner")
joined_data.show()

+---+----------------+-----------+--------+-------+-----------+
| id|            name|   category|quantity|  price|   category|
+---+----------------+-----------+--------+-------+-----------+
|  1|          iPhone|Electronics|      10| 899.99|Electronics|
|  2|         Macbook|Electronics|       5|1299.99|Electronics|
|  3|            iPad|Electronics|      15| 499.99|Electronics|
|  4|      Samsung TV|Electronics|       8| 799.99|Electronics|
|  5|           LG TV|Electronics|      10| 699.99|Electronics|
|  6|      Nike Shoes|   Clothing|      30|  99.99|   Clothing|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|   Clothing|
|  8| Sony Headphones|Electronics|      12| 149.99|Electronics|
|  9|Beats Headphones|Electronics|      20| 199.99|Electronics|
| 10|    Dining Table|  Furniture|      10| 249.99|  Furniture|
+---+----------------+-----------+--------+-------+-----------+

### Sort: Arrange rows based on one or more columns.

In [13]:
# Sort by a column
sorted_data = df.orderBy("price")
sorted_data.show()

+---+---------------+-----------+--------+------+
| id|           name|   category|quantity| price|
+---+---------------+-----------+--------+------+
| 13|        Bananas|       Food|     150|  0.25|
| 12|         Apples|       Food|     100|   0.5|
| 14|        Oranges|       Food|     120|  0.75|
| 15| Chicken Breast|       Food|      50|  3.99|
| 16|  Salmon Fillet|       Food|      30|  5.99|
| 29|        T-shirt|   Clothing|      50| 14.99|
| 19|       Yoga Mat|     Sports|      20| 19.99|
| 25|       Backpack|Accessories|      30| 24.99|
| 24|     Laptop Bag|Accessories|      25| 29.99|
| 20|   Dumbbell Set|     Sports|      15| 49.99|
| 28|          Jeans|   Clothing|      30| 59.99|
| 22|   Office Chair|  Furniture|       8| 79.99|
| 30|       Sneakers|   Clothing|      40| 79.99|
|  7|   Adidas Shoes|   Clothing|      25| 89.99|
|  6|     Nike Shoes|   Clothing|      30| 99.99|
| 23|      Bookshelf|  Furniture|      10| 99.99|
| 21|   Coffee Table|  Furniture|       5|129.99|
| 27|        Printer|Electronics|       8|129.99|
|  8|Sony Headphones|Electronics|      12|149.99|
| 11|     Study Desk|  Furniture|       8|149.99|
+---+---------------+-----------+--------+------+
only showing top 20 rows

In [14]:
# Sort by a column desc
from pyspark.sql.functions import col,desc
sorted_data = df.orderBy(col("price").desc(),col("id").desc())
sorted_data.show()

+---+----------------+-----------+--------+-------+
| id|            name|   category|quantity|  price|
+---+----------------+-----------+--------+-------+
|  2|         Macbook|Electronics|       5|1299.99|
|  1|          iPhone|Electronics|      10| 899.99|
|  4|      Samsung TV|Electronics|       8| 799.99|
|  5|           LG TV|Electronics|      10| 699.99|
| 26|          Camera|Electronics|      10| 599.99|
|  3|            iPad|Electronics|      15| 499.99|
| 10|    Dining Table|  Furniture|      10| 249.99|
| 17|  Leather Jacket|   Clothing|      15| 199.99|
|  9|Beats Headphones|Electronics|      20| 199.99|
| 18|     Winter Coat|   Clothing|      10| 149.99|
| 11|      Study Desk|  Furniture|       8| 149.99|
|  8| Sony Headphones|Electronics|      12| 149.99|
| 27|         Printer|Electronics|       8| 129.99|
| 21|    Coffee Table|  Furniture|       5| 129.99|
| 23|       Bookshelf|  Furniture|      10|  99.99|
|  6|      Nike Shoes|   Clothing|      30|  99.99|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|
| 30|        Sneakers|   Clothing|      40|  79.99|
| 22|    Office Chair|  Furniture|       8|  79.99|
| 28|           Jeans|   Clothing|      30|  59.99|
+---+----------------+-----------+--------+-------+
only showing top 20 rows

### Distinct: Get unique rows

In [16]:
# Get distinct product category
distinct_rows = df.select("category").distinct()
distinct_rows.show()

+-----------+
|   category|
+-----------+
|       Food|
|     Sports|
|Electronics|
|   Clothing|
|  Furniture|
|Accessories|
+-----------+

### Drop: Remove specified columns.

In [19]:
dropped_columns = df.drop("quantity","category")
dropped_columns.show(5)

+---+----------+-------+
| id|      name|  price|
+---+----------+-------+
|  1|    iPhone| 899.99|
|  2|   Macbook|1299.99|
|  3|      iPad| 499.99|
|  4|Samsung TV| 799.99|
|  5|     LG TV| 699.99|
+---+----------+-------+
only showing top 5 rows

### WithColumn: Add new calculated columns.

In [20]:
# Add a new calculated column
df_with_new_column = df.withColumn("revenue",df.quantity * df.price)
df_with_new_column.show()

+---+----------------+-----------+--------+-------+------------------+
| id|            name|   category|quantity|  price|           revenue|
+---+----------------+-----------+--------+-------+------------------+
|  1|          iPhone|Electronics|      10| 899.99|            8999.9|
|  2|         Macbook|Electronics|       5|1299.99|           6499.95|
|  3|            iPad|Electronics|      15| 499.99|           7499.85|
|  4|      Samsung TV|Electronics|       8| 799.99|           6399.92|
|  5|           LG TV|Electronics|      10| 699.99|            6999.9|
|  6|      Nike Shoes|   Clothing|      30|  99.99|            2999.7|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|           2249.75|
|  8| Sony Headphones|Electronics|      12| 149.99|           1799.88|
|  9|Beats Headphones|Electronics|      20| 199.99|            3999.8|
| 10|    Dining Table|  Furniture|      10| 249.99|            2499.9|
| 11|      Study Desk|  Furniture|       8| 149.99|           1199.92|
| 12|          Apples|       Food|     100|    0.5|              50.0|
| 13|         Bananas|       Food|     150|   0.25|              37.5|
| 14|         Oranges|       Food|     120|   0.75|              90.0|
| 15|  Chicken Breast|       Food|      50|   3.99|             199.5|
| 16|   Salmon Fillet|       Food|      30|   5.99|179.70000000000002|
| 17|  Leather Jacket|   Clothing|      15| 199.99|2999.8500000000004|
| 18|     Winter Coat|   Clothing|      10| 149.99|            1499.9|
| 19|        Yoga Mat|     Sports|      20|  19.99|399.79999999999995|
| 20|    Dumbbell Set|     Sports|      15|  49.99|            749.85|
+---+----------------+-----------+--------+-------+------------------+
only showing top 20 rows

### Alias: Rename columns for better readability.

In [21]:
# Rename columns using alias
df_with_alias = df.withColumnRenamed("price","product_price")
df_with_alias.show()

+---+----------------+-----------+--------+-------------+
| id|            name|   category|quantity|product_price|
+---+----------------+-----------+--------+-------------+
|  1|          iPhone|Electronics|      10|       899.99|
|  2|         Macbook|Electronics|       5|      1299.99|
|  3|            iPad|Electronics|      15|       499.99|
|  4|      Samsung TV|Electronics|       8|       799.99|
|  5|           LG TV|Electronics|      10|       699.99|
|  6|      Nike Shoes|   Clothing|      30|        99.99|
|  7|    Adidas Shoes|   Clothing|      25|        89.99|
|  8| Sony Headphones|Electronics|      12|       149.99|
|  9|Beats Headphones|Electronics|      20|       199.99|
| 10|    Dining Table|  Furniture|      10|       249.99|
| 11|      Study Desk|  Furniture|       8|       149.99|
| 12|          Apples|       Food|     100|          0.5|
| 13|         Bananas|       Food|     150|         0.25|
| 14|         Oranges|       Food|     120|         0.75|
| 15|  Chicken Breast|       Food|      50|         3.99|
| 16|   Salmon Fillet|       Food|      30|         5.99|
| 17|  Leather Jacket|   Clothing|      15|       199.99|
| 18|     Winter Coat|   Clothing|      10|       149.99|
| 19|        Yoga Mat|     Sports|      20|        19.99|
| 20|    Dumbbell Set|     Sports|      15|        49.99|
+---+----------------+-----------+--------+-------------+
only showing top 20 rows

In [22]:
# Stop the SparkSession
spark.stop()